#upper-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}

#size {
    grid-column: 2 / 4;

}

header {
    grid-column: 1 / 2;
}

/* SKETCH BOOK GRID STYLE */
#container {
    display: grid; 
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px; 
    width: 500px;
}

/* FOOTER */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; 
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 15px;
    word-spacing: 10px;
    background-image: linear-gradient(#B4C9CC, #A2C1C9);
}

